<h1>See Tasks</h1>

<ol>
  <% @tasks.each do |task| %>
    <li>  <% if task.completed %>
            <i class="far fa-check-square"></i>
          <% else %>
            <i class="far fa-square"></i>
          <% end %>
      <%= link_to task.title, task_path(task) %>
      <i class="fas fa-trash-alt"></i>
      <%= link_to 'Delete me', task_path(task), method: :delete %></li>
  <% end %>
</ol>

 <%= link_to "Add task", new_task_path %>
